@{
    ViewData["Title"] = "Home Page";
}

<div class="textplate">
    <div>
        <div>
            <h1 class="header-text">
                Welkom op Julian zijn Brightflow web Applicatie!
            </h1>
        </div>
        <div>
            <p class="paragraph-text">
                BrightFlow is een bedrijf gespecialiseerd in het bouwen van data koppelingen. Brightflow gebruikt hier bij C#, ASP.NET en MVC.
            </p>
        </div>
    </div>
</div>